<template>
<div>
  <div class="background">
    <img src="..\assets\sky_2.jpeg" width="100%" height="100%" autoplay=1 muted loop>
    
  </div>
  <div class="container">
    <div class="addNewPost">
      <div class="imgbox">
        <!-- <form id="form" enctype="multipart/form-data" action="/upload" method="POST">
          <input id="addfile" type="file" value="Share image" accept="image/*" multiple @change="Imgselected">
        </form> -->
        <input id="addfile" class="button" type="file" ref="file" value="Share image" accept="image/*" multiple @change="Imgselected">
        <button id="loadfile" v-on:click.prevent="Imguploaded"> upload </button>
        <img v-if="blog.image" :src="blog.image" id="upload_img" /> 
        <!-- <img v-if="blog.image_path" v-bind:src='this.blog.image_path' /> -->
        <!-- <input id="addfile" type="file" value="Share video" accept="video/*" multiple @change="Videoselected"> -->
        <!-- <video id="video-preview"></video> -->
      </div>
      <div class="title">
        <input type="text" id="titlebox" placeholder="article title" autocomplete="off" v-model.lazy="blog.title">
      </div>
      <div class="context">
        <!-- <h6>share something~</h6> -->
        <textarea type="text" id="postbox" placeholder="share something..."  v-model.lazy="blog.content"> </textarea>
      </div>
      <div class="tag">
        <input type="text" id="hashtag" placeholder="hashtags..." autocomplete="off" @change="tagsHandler">
      </div>
      <br>
      <div>
        <button id="submit" v-on:click.prevent="post_new_blog">submit</button>
      </div>
    </div>
  </div>
  
</div>
</template>

<script>
// import { db } from "@/config/firebaseConfig.js";
import { addPost } from '@/api/post';
import { uploadImage } from '@/api/post';
import { getImage } from '@/api/post';
import { saveImage } from '@/api/post';
// import axios from 'axios';
// import FormData from 'form-data';
import Compressor from 'compressorjs';
export default {
  data() {
    return {
      blog: {
        title: "",
        content: "",
        tags: [],
        author: "",
        image: "",
        image_file: "",
        // video: "",
      },
      // authors: ["Ryan Yen", "Vue Master", "YOUR NAME"],
      // submitted: false,
    };
  },
  mounted() {
    if (this.$store.getters.UserId) {
      // console.log("LOGIN");
    } else {
      this.$router.push('/notLogin');
      // console.log("NOT login");
    }
  },
  methods: {
    async post_new_blog() {
      // console.log(this.cmprs);
      if (this.blog.title && this.blog.content) {
        var postId = await addPost({
          title: this.blog.title,
          content: this.blog.content,
          image: this.blog.image_file,
          tags: this.blog.tags,
          // author: this.blog.author,
        });
        if (postId) {
          alert("Success add a new blog! The page will turn into your personal home.");
          console.log("Success add a new blog!");
          this.$router.push('/Personalhome');
        }
      } else {
          alert('Please fill in the title & content');
      }
    },
    Imgselected(e) {
      var file = e.target.files[0];
      const file_2 = e.target.files[0];
      const reader = new FileReader();
      reader.addEventListener('load', this.imagePreview);
      reader.readAsDataURL(file_2);
      if (file.size > 100000) {
        alert("your picture is too large, we will compress it for you.\nRemember to click the \" upload \" button!");
        new Compressor( file, {
        quality: 0.8,
        maxHeight: 400,
        async success(result) {
          console.log(result.size);
          saveImage(result);
        },
        error(err) {
          console.log(err.message);
        },
      });
      } else {
        saveImage(file);
        alert("Remember to click the \" upload \" button!");
      }
      
    },
    imagePreview(e) {
      let image = e.target.result;
      this.blog.image = image;
    },
    Imguploaded() {
      this.imageLoaded(getImage());
    },
    async imageLoaded(file) {
      let imagedata = await uploadImage(file);
      this.blog.image_file = imagedata.data.filepath;
      console.log(this.blog.image_file);
      if (imagedata.data.message == "success") {
        alert("Update Image Successfully!");
        console.log("Update Image Successfully!");
      } else {
        alert(imagedata.message);
      }
      console.log(imagedata);
    },
    tagsHandler(e){
      // console.log("==================");
      // console.log(e.target.value);
      this.blog.tags = [];
      var raw_tags = e.target.value;
      var len = raw_tags.length;
      var tmp_string = '';
      for (var i=0; i<len; i++){
        if (raw_tags[i] == ' ' || raw_tags[i] == ',') {
          // console.log(tmp_string);
          if (tmp_string) {
            this.blog.tags.push(tmp_string);
            tmp_string = '';
          }
        } else {
          tmp_string += raw_tags[i];
        } 
        // console.log(tmp_string);
      }
      if (tmp_string){
        // console.log(tmp_string);
        this.blog.tags.push(tmp_string);
      }
      // console.log(this.blog.tags);
    },
  },
};
</script>

<style>
.background { 
  position: fixed;
  background-position: left top;
  background-attachment: scroll;
  background-size: cover;
}
.container {
  position: relative;
  margin: 0px auto;
  top: auto;
  left: auto;
  align-items: center; 
}
.imgbox {
  width: 100%; 
  height: 400px; 
  background-color: rgba(161,199,226, 0.8);
}
#loadfile {
  position: absolute; 
  top: 50%;             
  left: 90%;   
  margin: auto;  
}
#submit {
  width: 65px; 
  height: 30px; 
  position: absolute; 
  bottom: -30px;             
  left: 45%;   
  margin: auto;
}
#addfile {
  position: absolute; 
  top: 28%;             
  left: 42%;   
  margin: auto;  
}
#upload_img {
  background-position: center center;
  width: auto; 
  height: 100%; 
}
#hashtag {
  width: 100%; 
  height: 40px; 
  background-color: rgba(161,199,226, 0.8);
  font-size: xx-large;
  color: rgb(0,4,0);
  text-align: center;
}
#titlebox {
  width: 100%; 
  height: 40px; 
  background-color: rgba(161,199,226, 0.8);
  font-size: xx-large;
  color: rgb(0,4,0);
  text-align: center;
}
#postbox {
  /* margin-top: 20px; */
  width: 100%; 
  height: 200px; 
  background-color: rgba(161,199,226, 0.8);
  font-size: large;
  color: rgb(10,30,10);
  text-align: left;
  overflow: auto;
  resize:none;
}
</style>
