<template>
  <div>
    <!-- Navigation-->
    <b-navbar-nav class="navbar navbar-expand-lg" id="mainNav">
        <div class="container">
            <b-navbar-brand class="mr-5 navbar-brand js-scroll-trigger"> 
              <router-link to="/" exact>
                <img
                  src="..\assets\logo2-removebg.png"
                  width="200rem"
                  class="d-inline-block align-top"
                  alt="logo_icon"
                />
              </router-link>
            </b-navbar-brand>
            
            <b-dropdown id="dropdown-offset" offset="25" text="Menu" class="m-2 navbar-toggler navbar-toggler-right">
              <b-dropdown-item class="fill2"><router-link to="/personalhome" exact>Home</router-link></b-dropdown-item>
              <b-dropdown-item class="fill2"><router-link to="/blogs" exact>Blog Post</router-link></b-dropdown-item>
              <b-dropdown-item class="fill2"><router-link to="/addBlog" exact>Add Blog Post</router-link></b-dropdown-item>
              <b-dropdown-item v-if="!IsLoggedIn" class="fill2"><router-link to="/login" exact>Login/Register</router-link></b-dropdown-item>
              <b-dropdown-item v-if="IsLoggedIn" class="fill2"><router-link to="/logout" exact>Logout</router-link></b-dropdown-item>
            </b-dropdown>
            
            
            <!--
            <b-navbar-nav class="ml-auto">
              <b-nav-form class="form-search">
                <b-form-input size="sm" class="form-control mr-sm-2" placeholder="Search Blogs"></b-form-input>
                <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
              </b-nav-form>
            </b-navbar-nav>
            -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <b-navbar-nav class="ml-auto text-uppercase">
                <b-nav-item class="fill"> <router-link to="/personalhome" exact>Home</router-link></b-nav-item>
                <b-nav-item class="fill"><router-link to="/blogs" exact>Blog Post</router-link></b-nav-item>
                <b-nav-item class="fill"><router-link to="/addBlog" exact>Add Blog Post</router-link></b-nav-item>
                <b-nav-item v-if="!IsLoggedIn" class="fill"><router-link to="/login" exact>Login/Signup</router-link></b-nav-item>
                <b-nav-item v-if="IsLoggedIn" class="fill"><router-link to="/logout" exact>Logout</router-link></b-nav-item>
                <!-- Navbar dropdowns -->
                <!--b-nav-item-dropdown text="User" right>
                  <b-dropdown-item><router-link to="/login">Login</router-link></b-dropdown-item>
                  <b-dropdown-item><router-link to="/logout">Logout</router-link></b-dropdown-item>
                </b-nav-item-dropdown-->
              </b-navbar-nav>
            </div>
        </div>
    </b-navbar-nav>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: {
    ...mapGetters([
      'IsLoggedIn',
    ]),
  },
};
</script>

<style scoped>
@import url(../styles/style.css);
@import url("https://s2.pstatp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css");
/*
p {
  color: #CADBC;
}
*/

.fill a {
  color: #FFFFFF;
  position: relative;
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
}
.fill {
  display: inline-block;
}
.fill a,
.fill a:after,
.fill a:before {
  transition: all .5s;
}
.fill a:hover{
	color: #D9A50B;
}
.fill a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.fill a:hover:after {
  width: 100%;
}

.fill2 a {
  color: #000000;
  position: relative;
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
}
.fill2 {
  display: inline-block;
}
.fill2 a,
.fill2 a:after,
.fill2 a:before {
  transition: all .5s;
}
.fill2 a:hover{
	color: #D9A50B;
}
.fill2 a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.fill2 a:hover:after {
  width: 100%;
}

.fill2 a:active {
  background: #aaa;
}

.form-search .form-control {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-radius: 30px; 
}
.form-search .form-control:hover, .form-search .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; 
}
.form-search .form-control {
    margin-right: 5px; 
}
.form-search .btn {
  background-color: #005555;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff; 
}
.form-search .btn:hover, .form-search .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; 
}

.navbar{
  background-color: #384001; 
}

</style>
