<template>

<div id="main">
  <div class="background">
    <img src="../assets/login-river2.png">
  </div>
  <!--<div class="video">
    <video src="../assets/river.mp4" width="100%" height="100%" autoplay loop muted></video>
  </div>-->
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="about-fixed">
            <div class="my-detail">
              <div class="white-spacing" v-if="this.isLogged">
                  <h1>{{this.username}}</h1>
                  <span>Welcome Back !</span>
                  <ul class="social-icon">
                    <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank" class="google-plus"><i class="fa fa-envelope-o"></i></a></li>
                  </ul>
              </div> 
              <div class="white-spacing" v-if="!this.isLogged">
                  <h1>Hi, Guest</h1>
                  <span>Start using our blog from login!</span>
              </div> 
              

              <div class="search__container">
                  <p class="search__title">
                      Search Post
                  </p>
                  <input class="search__input" type="text" placeholder="Search" v-on:keyup.enter="SendSearch()" v-model="newFilter">
              </div>
              
              

          </div>
        </div>
      </div>
      <div class="col-md-9">
      <div class="col-md-12 page-body">
        <div class="row">
          <div class="col-md-12 content-page">
        
              <div v-for="post in posts" :key="post.postId">
                <!-- Blog Post Start -->
                <div class="col-md-12 blog-post">
                  <div class="post-title">
                    <router-link :to="{ path: '/single/' + post.postId}" exact ><h1>{{post.title}}</h1></router-link>
                    <!-- <a href="single.html"></a> -->
                  </div>  
                  <div class="post-info">
                    <!-- <span>{{post.createdAt}} <a href="#" target="_blank">{{post.userName}}</a></span> -->
                    <span> Created at : {{post.createdAt}}, Updated at : {{post.updatedAt}}, By <router-link :to="{ path: '/author/' + post.userId} " target="_blank"> {{post.userName}} </router-link></span>
                    <div class="post-views">
                      <i class="fa fa-eye"></i>{{post.views}}
                    </div>
                  </div>
                  
                  <div class="all-tag" v-for="(tag, i) in post.tags" :key=i>
                    <div class="post-tag">
                      <span>{{tag}}</span>
                    </div>
                  </div>
                  <p>{{post.content | ellipsis}}</p>
                  <div class="post-image" v-if="post.image">
                    <img :src = "post.image" />
                  </div>
                  <router-link :to="{ path: '/single/' + post.postId} " exact class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></router-link>
                  <!-- <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a> -->
                  <div class="post-likes" @click="Like(post.postId)">
                    <i class="fa fa-thumbs-o-up"></i>
                  </div>
                </div>
                <!-- Blog Post End -->
              </div>

              <div class="btn-container">
                <button class="btn2" @click="PostsLoad()"><span>More Posts</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <BackToTop />
</div>
</template>

<script>
import $ from 'jquery'
//import { increaseViewCount } from '@/api/post';
import { getPosts, increaseLikeCount } from '@/api/post';
import { getUserProfile } from '@/api/user';
import BackToTop from '@/components/BackToTop.vue';

export default {
  name: 'blogPost',
  components:{
    BackToTop,
  },
  data() {
    return {
      posts: [],
      post: {
        postId: null,
        userId: null,
        userName: null,
        title: null,
        content: null,
        views: null,
        likes: null,
        image: null,
        tags: null,
        createdAt: null,
        updatedAt: null,
      },
      totalPosts: 0,
      countPosts: 0,
      currentFilter: "",
      newFilter: "",
      limit: 5,
      loading: false,
      username: null,
      isLogged: false,
    };
  },
  mounted() {
    this.$store.dispatch('setIsProcessing', true);
    (async()=>{
      await Promise.all([
        this.PostsLoad(),
        this.GetUserProfile(),
      ]);
    })(); 
    this.$store.dispatch('setIsProcessing', false);
  },
  filters: {
    ellipsis (value) {
      if (!value) return ''
      if (value.length > 200) {
        return value.slice(0,200) + '......'
      }
      return value
    }
  },
  methods: {
    async PostsLoad(){
      console.log("load posts");
      if (this.loading === true) return;
      this.loading = true;
      const response = await getPosts({filter:this.currentFilter, limit: this.limit, skip: this.countPosts });
      const {posts} = response.data;
      this.totalPosts = posts;
      this.countPosts += posts.length;
      
      if (this.countPosts == 0 || posts.length == 0){
        alert("Currently no new posts to show.");
      }
      else{
        const baseURL = 'http://demo.ivanouo.one:1586/';
        for (var i=0; i<posts.length; i++){
          this.post= {
            postId: posts[i].postId,
            userId: posts[i].userId,
            userName: posts[i].userName,
            title: posts[i].title,
            content: posts[i].content,
            views: posts[i].views,
            likes: posts[i].likes,
            image: posts[i].image, //or null
            tags: posts[i].tags,
            createdAt: posts[i].createdAt.split('T')[0],
            updatedAt: posts[i].updatedAt.split('T')[0],
          };
          if (this.post.image) this.post.image = baseURL + this.post.image;
          await this.posts.push(this.post);
        }
        $("div.blog-post").slice(0, this.countPosts).show();
      }
      this.loading = false;
    },
    async Like(postId){
      console.log("Like Post" + postId);
      try{
        const response = await increaseLikeCount(postId);
        if(response.status != 200){
          alert("There are some problems with your like procedure. Please try it again");
        }
        else{
          alert("You give the " + postId.toString() + " post a big like.");
        }
      }
      catch(error){
        switch (error.code) {
          case 16:
            alert('You didn\'t login yet. Please login first to use our website');
            break;
          default:
            alert(error.message);
            break;
        }
      }
    },
    async SendSearch() {
      this.posts= [];
      this.totalPosts= 0;
      this.countPosts= 0;
      this.currentFilter = this.newFilter;
      this.PostsLoad();
    },
    async GetUserProfile(){
      if(this.$store.getters.UserId != null){
        const users = await getUserProfile(this.$store.getters.UserId);
        this.username = users.data.user.userName;
        this.isLogged = true;
      }
    },
  },
};
</script>

<style>
@import '../styles/style.css';

.video {
  top:0;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
}

/* search style sheet */
.search__container {
    padding-top:20px;
    padding-bottom:40px;
}

.search__title {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #000000;
}

.search__input {
    width: 80%;
    padding: 12px 12px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
    
.search__input:placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover, .search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.btn-container{
  margin-top: 40px;
  text-align:center
}

.background{
  /*position: fixed;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;
}

.background img {
    min-height: 100%;
    width: 100%;
    opacity: 0.5;
}

/*2*/
.btn2 {
  border-radius: 4px;
  background-color: #1abc9c;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.btn2{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn2:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 10px;
  right: -20px;
  
  transition: 0.5s;
}

.btn2:hover{
  padding-right:24px;
  padding-left:8px;
}

.btn2:hover:after {
  opacity: 1;
  right: 10px;
}

.content-page {
  white-space: pre-line;
}

</style>