<template>
  <div>
    <div class="background">
        <video src="..\assets\forest.mp4" width="100%" height="100%" autoplay muted loop></video>
    </div>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 text-center container1">
          <div class="static-text">Let's record our life_</div>
          <div class="dynamic-text-wrapper">
            <div class="dynamic-text">with a camera as eyes.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
    };
  },
};

</script>

<style scoped>
@import url(../styles/style.css);
html {
  height: 100%;
  width: 100%;
}

.background {
  position: absolute;
  margin: 0px auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.background .video {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  position: absolute;
  margin: 0px auto;
  top: auto;
  left: 300px;align-items: center;  
  background: transparent;
}

.container > .row {
  height: 100vh;
  min-height: 600px; 
  background: transparent;
}

.container1{
  display: flex;
  height: 100px; 
  left: -300px;
  overflow: hidden;
  position: relative;
  background: transparent;
}

.static-text{
  white-space: nowrap;
  color: #D97C0B;
  font-size: 40px;
}

.dynamic-text {
  width: 11em;
  border-right: .05em solid;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  color: #EDDE5D;
  font-size: 40px;
  animation: typing 5s steps(22) infinite,
    caret 1s steps(1) infinite;
}

@keyframes caret {
  50% { border-color: transparent; }
}

@keyframes typing {
  from { width: 0 }
}

</style>
