<template>
<div>
  <div class="background">
    <img src="..\assets\background-2.png"  width="100%" height="100%" />
  </div>
  <div class="container">
    <br>
    <br>
    <h1 class="post-quote">Please Login!!</h1>
    <br>
    <h1 class="post-quote">Or register a new account!!</h1>
  </div>
</div>
</template>

<script>
</script>

<style scoped>
.background {
  position: fixed;
  background-position: left top;
  background-attachment: scroll;
  background-size: cover;
}
.container {
  position: center center;
  background-position: center;
}
</style>
