<template>
  <div>
    <div class="background">
      <img src="..\assets\forest.jpg" width="100%" height="100%" > 
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 page-body content">
          <div class="content-page">
            <div class=" blog-post">
              <div class="post-title">
                <h1>{{this.blogcontent.title}}</h1>
              </div>
              <div class="post-title author">
                <router-link :to="{ path: '/author/' + blogcontent.userId} " target="_blank" class="button button-style button-anim">
                  <h2>{{this.blogcontent.author}}</h2>
                </router-link>
                <span v-if="isauthor"><button @click="modify_article">Edit!</button></span>
              </div>
              <div class="post-info time">
                <h5><span>Create Time: {{this.blogcontent.createtime}} Update Time: {{this.blogcontent.updatetime}}</span> </h5>
              </div>
              <img v-if="blogcontent.image_path" v-bind:src='this.blogcontent.image_path' style="height:100%; width: 100%;;">
              <div v-if='modify_flag'>
                <div class="content-test ">
                  <!-- {{this.modify_flag}} -->
                  {{this.blogcontent.content}}
                </div>
                <div class="post-title time">
                  <h5>
                    Tags: {{this.blogcontent.tags}}
                    <br>
                    Likes: {{this.blogcontent.likes}} Views: {{this.blogcontent.views}}  <button @click="addLike" >Like it!</button> 
                  </h5>
                </div>
              </div>  
              <div v-else>
                <div>
                  <!-- <input type="textarea" id="postbox"  v-model.lazy="blogcontent.content"> -->
                  <textarea type="text" id="postbox"  v-model.lazy="blogcontent.content"> </textarea>
                </div>
                <div>
                  <input type="text" id="hashtag" v-model="blogcontent.tags" placeholder="hashtags..." autocomplete="off"  @change="tagsHandler">
                  <span>
                    <h6>Likes: {{this.blogcontent.likes}} Views: {{this.blogcontent.views}} </h6> 
                  </span>
                  <button @click="fin_modify" >Finish Modify!</button>
                  <button class="delete" @click="delete_post">Delete the Post!!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</template>

<script>
import searchMixin from "../mixins/searchMixin";
// import { db } from "@/config/firebaseConfig.js";
import $ from 'jquery'
import { getPost } from '@/api/post';
import { increaseLikeCount } from '@/api/post';
import { modifyPost } from '@/api/post';
import { removePost } from '@/api/post';
export default {
  data() {
    return {
      blogcontent: {
        user_id: '',
        post_id: '',
        title: '',
        image: '',
        image_path: '',
        content: '',
        author: '',
        createtime: '',
        updatetime: '',
        tags: [],
        likes: '',
        views: '',
      },
      search: "",
      modify_flag: true,
      isauthor: false,
    };
  },
  mounted() {
    $("div.blog-post").slice(0, 4).show();
    this.getSingleBlog();
  },
  methods: {
    async getSingleBlog() {
      // console.log("===============");
      // console.log(this.$route.path);
      var tmp_path = this.$route.path;
      var split_path = tmp_path.split('/');
      var id = split_path[2];
      console.log(id);
      const baseURL = 'http://demo.ivanouo.one:1586/';
      let blogData = await getPost(id);
      console.log(blogData);
      this.blogcontent.userId = blogData.data.userId;
      this.blogcontent.post_id = id;
      this.blogcontent.title = blogData.data.title;
      this.blogcontent.image = blogData.data.image;
      this.blogcontent.image_path = baseURL + blogData.data.image;
      console.log(this.blogcontent.image_path, blogData.data.image);
      this.blogcontent.content = blogData.data.content;
      this.blogcontent.author = blogData.data.userName;
      var tmptimec = blogData.data.createdAt;
      var split_timec = tmptimec.split('T');
      // console.log(split_timec[0]);
      var tmptimeu = blogData.data.updatedAt;
      var split_timeu = tmptimeu.split('T');
      // console.log(split_timeu[0]);
      this.blogcontent.createtime = split_timec[0];
      this.blogcontent.updatetime = split_timeu[0];
      // console.log(blogData.data.tags.length);
      for (var i=0; i<blogData.data.tags.length; i++) {
        this.blogcontent.tags.push(blogData.data.tags[i]);
      // console.log(this.blogcontent.tags[i]);
      }
      // console.log(this.blogcontent.tags);
      this.blogcontent.tags = blogData.data.tags;
      this.blogcontent.likes = blogData.data.likes;
      this.blogcontent.views = blogData.data.views;
      if (this.$store.getters.UserId) {
        if (blogData.data.userId == this.$store.getters.UserId) {
          // console.log("username==author");
          this.isauthor = true;
        } else {
          // console.log("username!=author");
          console.log(this.$store.getters);
          // console.log(this.$store.state.user.userId);
          // console.log(blogData.data.userId);
        }
      } else {
        // console.log("NOT LOGIN");
        this.isauthor = false;
      }
      // console.log(this.$store.getters.UserId, blogData.data.userId);
      
      // console.log(this.blogcontent);
    },
    async addLike() {
      await increaseLikeCount(this.blogcontent.post_id);
      alert("You give the \"" + this.blogcontent.title.toString() + " \" a big like.");
    },
    async delete_post() {
      await removePost(this.blogcontent.post_id);
      alert("Your post is deleted!");
      this.$router.push('/blogs');

    },
    modify_article() {
      // console.log("======");
      this.modify_flag = false;
      // console.log(this.modify_flag);
    },
    async fin_modify() {
      console.log(this.blogcontent.post_id);
      await modifyPost( this.blogcontent.post_id, {
          title: this.blogcontent.title,
          content: this.blogcontent.content,
          image: this.blogcontent.image,
          tags: this.blogcontent.tags,
        });
      console.log("Successfully modify the article!");
      this.modify_flag = true;
      alert("Success modify your blog! The page will turn into your blog post page.");
      console.log("Success modify blog!");
      this.$router.push('/blogs');
    },
    tagsHandler(e){
      // console.log("==================");
      // console.log(e.target.value);
      this.blogcontent.tags = [];
      var raw_tags = e.target.value;
      var len = raw_tags.length;
      var tmp_string = '';
      for (var i=0; i<len; i++){
        if (raw_tags[i] == ' ' || raw_tags[i] == ',') {
          console.log(tmp_string);
          if (tmp_string) {
            this.blogcontent.tags.push(tmp_string);
            tmp_string = '';
          }
        } else {
          tmp_string += raw_tags[i];
        } 
        // console.log(tmp_string);
      }
      if (tmp_string){
        console.log(tmp_string);
        this.blogcontent.tags.push(tmp_string);
      }
      // console.log(this.blogcontent.tags);
    },
  },
  mixins: [searchMixin],
};
</script>
<style scoped>
@import '../styles/style.css';
.content-test {
  white-space: pre-line;
  color: black;
}
.background {
  position: fixed;
  background-position: left top;
  background-attachment: scroll;
  background-size: cover;
}
.title {
  width: 100%; 
  height: 20%;
  font-size: xx-large;
  font-family: Georgia;
}
.author {
  position: relative;
  top: auto;
  right: auto;
  width: 100%; 
  height: 20%; 
  text-align: right;
  font-family: Georgia;
}
.time {
  position: relative;
  top: auto;
  right: auto;
  width: 100%; 
  height: 20%; 
  text-align: right;
  font-family: Georgia;
  color: black;
}
.delete {
  position: relative;
  top: auto;
  right: auto;
  text-align: right;
}
.content {
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.7);
}
</style>