<template>
  <div>
    <div class="hero">
      <div class="container">
        <div class="row justify-content-left align-items-top">
          <div class="card card1" :style="{backgroundImage: 'url(' + user.avator + ')'}">>
            <div class="border1">
              <h3>Name: {{user.userName}}</h3>
              <h4>Account: {{user.userAccount}}</h4>
              <div class="icons row">
                <i class="fa fas fa-instagram" aria-hidden="true"></i>
                <i class="fa fas fa-facebook" aria-hidden="true"></i>
                <i class="fa fas fa-twitter" aria-hidden="true"></i>
                <i class="fa fas fa-envelope" aria-hidden="true"></i>
                <!--i class="fa fas fa-user-plus" aria-hidden="true"></i-->
              </div>
            </div>
          </div>
          <div class="card card2">
            <div class="border2">
              <div class="mt-2"><h5>{{user.description}}</h5></div>            
            </div>
            <div>
              <!--b-form-input class="col-sm-10" v-model="value" type="text" debounce="500" placeholder="Say something...?"></b-form-input-->
              <router-link to="/editprofile" exact><i class="col-sm-2 fa fa-pencil" aria-hidden="true"></i ></router-link>
            </div>
          </div>
        </div>        
      </div>
    </div>
    
    <div id="app" rel="stylesheet" href="styles.css">
      <agile :initial-slide="0">
      
        <div class="slide1" v-for="n of 5" :key="n" :class="`slide--${n}`">
          <div v-for="(post, index) in getpost(n)" :key="index">
            <div class="col-md-12">
              <div class="post-image">
                <img v-if="post.image" :src = "post.image" />
              </div>
              <div class="post-title">
                <router-link :to="{ path: '/single/' + post.postId} " exact ><h1>{{post.title}}</h1></router-link>
                <!-- <a href="single.html"></a> -->
              </div>    
              <div class="post-info">
                <!-- <span>{{post.createdAt}} <a href="#" target="_blank">{{post.userName}}</a></span> -->
                <span> Created : {{post.createdAt}}, Updated : {{post.updatedAt}}, By <a href="#" target="_blank">{{post.userName}}</a></span>
                
              </div> 
              <div>
                <div class="post-likes" @click="Like(post.postId)">
                  <i class="fa fa-thumbs-o-up"></i>
                </div>
                <div class="post-views">
                  <i class="fa fa-eye"></i>{{post.views}}
                </div>
              </div>
              <div class="all-tag" v-for="(tag, i) in post.tags" :key=i>
                <div class="post-tag">
                  <span>{{tag}}</span>
                </div>
              </div>
              <p>{{post.content | ellipsis}}</p>                      			
              <router-link :to="{ path: '/single/' + post.postId} " exact class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></router-link>
              <!-- <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a> -->
            </div>
          </div>
        </div>
        <template slot="prevButton"><i class="fa fa-chevron-left"></i></template>
        <template slot="nextButton"><i class="fa fa-chevron-right"></i></template>
      </agile>
    </div>
  </div>
</template>

<script>
import { VueAgile } from 'vue-agile';
// import $ from 'jquery'
import { mapState } from 'vuex';
import { getUserProfile } from '@/api/user';
import { getPostsByCurrentUser } from '@/api/post';

export default {
  name: 'personalhomePage',
  components:{
    agile: VueAgile
    // BackToTop,
  },
  data() {
    return {
      user: {
        userId: null,
        userName: null,
        userAccount: null,
        description: null,
        avator: null,
        ig: null,
        fb: null,
        tw: null,
        email: null
      },
      posts: [],
      post: {
        postnum: null, 
        postId: null,
        userId: null,
        userName: null,
        title: null,
        content: null,
        views: null,
        likes: null,
        image: null,
        tags: null,
        createdAt: null,
        updatedAt: null,
      },
      totalPosts: 0,
      countPosts: 0,
      currentTag: null,
      currentFilter: {},
      limit: 5,
      loading: false,
    };
  },
  mounted() {
    this.$store.dispatch('setIsProcessing', true);
    var tmp_path = this.$route.path;
    var split_path = tmp_path.split('/');
    var id = split_path[2];
    console.log(id);
    (async()=>{
      await Promise.all([
        this.GetUserInfos(id),
      ]);
    })(); 
    
    this.$store.dispatch('setIsProcessing', false);

  },  
  computed: mapState({
    user_Id: "userId"
  }),	
  filters: {
    ellipsis (value) {
      if (!value) return ''
      if (value.length > 200) {
        return value.slice(0,200) + '......'
      }
      return value
    }
  },
  methods: {
    getpost(id){
      return this.posts.filter(post => post.postnum == id-1)
    },
    async GetUserInfos(id){
      // console.log(this.$store.getters.UserId);
      this.UserId(id);
      this.PostsLoad(id);
    },
    async UserId(id){
      const baseURL = 'http://demo.ivanouo.one:1586/';
      
      const users = await getUserProfile(id);
      
      this.user.userId = users.data.user.userId;
      this.user.userName = users.data.user.userName;
      this.user.userAccount = users.data.user.userAccount;
      this.user.description = users.data.user.description;
      this.user.avator = baseURL + users.data.user.avator;
      this.user.ig = users.data.user.ig;
      this.user.fb = users.data.user.fb;
      this.user.tw = users.data.user.tw;
      this.user.email = users.data.user.email;
      console.log(this.user.avator);
    },
    async PostsLoad(id){
      console.log("load personal posts");
      
      const baseURL = 'http://demo.ivanouo.one:1586/';
      const response = await getPostsByCurrentUser(id);
      const {posts} = response.data;
      // console.log(response.data);
      if (posts.length == 0){
        alert("Currently no new posts to show.");
      }
      else{
        for (var i=0; i<posts.length; i++){
          this.post= {
            postnum: this.countPosts+i,
            postId: posts[i].postId,
            userId: posts[i].userId,
            userName: posts[i].userName,
            title: posts[i].title,
            content: posts[i].content,
            views: posts[i].views,
            likes: posts[i].likes,
            image: baseURL + posts[i].image, //or null
            tags: posts[i].tags,
            createdAt: posts[i].createdAt,
            updatedAt: posts[i].updatedAt,
            
          }
          await this.posts.push(this.post);
          // console.log(this.countPosts+i);
          // console.log(posts[i].postId);
        }
      }
      this.totalPosts = posts;
      this.countPosts += posts.length;
    },
    async Test(){
      if(this.countPosts < 5){
        for (var i=this.countPosts; i<this.limit; i++){
          this.post= {
            postnum: i,
            postId: "000",
            title : "How to customize a wordpress theme entirely from scratch using a child theme?",
            userName : "Alex Parker",
            content : "1111111111111111111111111111111",
            views: "111",
            likes: "222",
            tags: "333",
            createdAt : "2016/11/03",
            updatedAt: "2022/12/14"
          }
          await this.posts.push(this.post);
          // console.log(i);
        }
        this.countPosts = this.limit;
      }
    }
    
  }
};

</script>

<style>
@import url("https://s2.pstatp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://unpkg.com/vue-agile");
@import url("https://unpkg.com/vue-agile/dist/VueAgile.css");
@import url(../../styles/style.css);
@import '../../styles/style.css';
html {
  height: 100%;
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/background-3.jpg");
  width: 100%; 
  height: 500px;
}


.hero > .container {
  position: relative;
  z-index: 2; 
}

.container1{
  display: flex;
  height: 370px;
  background-color: #D9A50B;
  overflow: hidden;
  position: relative;
  border-radius: 5%;
}

.container2{
  display: flex;
  height: 400px;
  left: 100px;
  background-color: #384001;
  overflow: hidden;
  position: relative;
}

.container3{
  display: flex;
  height: 250px;
  position: relative;
  border-style: double;
  border-color: #FFFFFF;
}

.container4{
  display: flex;
  height: 300px;
  background-color: #A67D03;
  overflow: hidden;
  position: relative;
  border-style: double;
  border-color: white;
  opacity: 0.85;
  border-radius: 5%;
}

.newpost{
  white-space: nowrap;
  color: #FFFFFF;
  font-size: 45px;
}

.comments{
  white-space: nowrap;
  color: #FFFFFF;
  font-size: 15px;
}

.content{
  white-space: nowrap;
  color: #FFFFFF;
  font-size: 30px;
}

.profile li{
  display: inline-block;
  width: 160px;
}

.profile li div{
  width: 150px;
  padding: 5px;
  background: #ececec;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.profile li img{
  width: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%; 
  -o-border-radius: 50%;
  border-radius: 50%;
}

/*card*/
.border1 {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 2s;
  position: relative;
}
.border1:hover {
  border: 1px solid #fff;
}

.border2 {
  height: 369px;
  width: 290px;
  background: transparent;
  background-color: #A67D03;
  border-radius: 10px;
  transition: border 2s;
  position: relative;
}
.border2:hover {
  border: 1px solid #fff;
}
.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card1 {
  background: center center no-repeat;
  /*background-image: url("../../assets/person_1.jpg");*/
  background-size: 300px;
}
.card1:hover {
  background: left center no-repeat;
  /*background-image: url("../../assets/person_1.jpg");*/
  background-size: 600px;
}
.card1:hover h3 {
  opacity: 1;
  color: black;
}
.card1:hover h4 {
  opacity: 1;
  color: black;
}
.card1:hover h6 {
  opacity: 1;
  color: black;
}
.card1:hover .fa {
  opacity: 1;
}
.card1:hover .avator{
  opacity: 1;
}

.card2 {
  background: center center no-repeat;
  background-color: #A67D03;
  opacity: 0.85;
  background-size: 300px;
}
.card2:hover h5 {
  background: left center no-repeat;
  background-color: #A67D03;
  opacity: 0.85;
  background-size: 600px;
  opacity: 1;
  color: white;
}
.card2:hover .fa {
  opacity: 1;
  color: #A67D03;
}

h3, h4, h6 {
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fas {
  opacity: 0;
  transition: opacity 1s;
}

.avator {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*agile*/
.agile__nav-button{
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  width: 80px;
}
.agile__nav-button:hover{
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.agile__nav-button--prev{
  left: 0;
}
.agile__nav-button--next{
  right: 0;
}
.agile__dots {
  bottom: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.agile__dot {
  margin: 0 10px;
}
.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button, .agile__dot:hover button {
  background-color: #fff;
}

/*slide*/
.slide {
  display: block;
	height: 500px;
	object-fit: cover;
	width: 100%;
  background: transparent;
}

.slide1 {
  display: block;
	height: 500px;
	width: 100%;
  background-image: url(../../assets/slider-0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*blog-post*/
.post-image img {
    width: 10%;
}

.post-image p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.post-image a {
    font-weight: 600;
}

.post-title h1 {
    color: #333333;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-top: 24px;
}

.post-title h2 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.post-info {
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
    color: #8c8c8c;
}

.all-tag {
    display: inline-block;
}

.post-tag {
    font-size: 14px;
    padding: 5px;
    margin: 3px;
    color: #ffffff;
    background-color: #c8c2c2;
    border-radius: 5px;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #696868;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
    word-wrap: break-word;
}

.post-content {
    font-size: 16px;
    line-height: 30px;
    color: #696868;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}

.post-likes {  
    float: right;
    margin: 5px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    z-index: 5;
    position: relative;
    right: 300px;
}

.post-likes:hover {
    background-color: #e9e9e9;
}

.post-views {
    float: right;
    margin: 5px;
    display: flex;
    font-size: 12px;
    position: relative;
    right: 50px;
    z-index: 5;
    position: relative;
    right: 350px;
    top: 10px;
}

/*img*/
#upload_img {
  background-position: center center;
  width: auto; 
  height: 100%; 
}

</style>
