<template>
<div>
  <div class="background">
    <img src="..\..\assets\forest_1.jpg" width="100%" height="100%">
  </div>
  <div class="container">
    <div class="addNewPost">
      <!-- edit user avator-->
      <div class="imgbox">
        <input id="addfile" class="button" type="file" ref="file" value="Share image" accept="image/*" multiple @change="Imgselected">
        <button id="loadfile" v-on:click.prevent="Imguploaded"> upload </button>
        <img v-if="user.avator" :src="user.avator" id="upload_img" /> 
      </div>
      <!-- edit user name-->
      <div class="title">
        <input type="text" id="titlebox" placeholder="Edit your name..." autocomplete="off" v-model.lazy="user.userName">
      </div>
      <!-- edit user description-->
      <div class="context">
        <textarea type="text" id="postbox" placeholder="What are you thinking now...?"  v-model.lazy="user.description"> </textarea>
      </div>
      <div class="title">
        <textarea type="text" id="titlebox" placeholder="Your instagram...?"  v-model.lazy="user.ig"> </textarea>
      </div>
      <div class="title">
        <textarea type="text" id="titlebox" placeholder="Your facebook...?"  v-model.lazy="user.fb"> </textarea>
      </div>
      <div class="title">
        <textarea type="text" id="titlebox" placeholder="Your twitter...?"  v-model.lazy="user.tw"> </textarea>
      </div>
      <div class="title">
        <textarea type="text" id="titlebox" placeholder="Your email...?"  v-model.lazy="user.email"> </textarea>
      </div>
      <div>
        <button id="submit" v-on:click.prevent="edit_profile">submit</button>
      </div>
    </div>
  </div>
  
</div>
</template>

<script>
// import { addPost } from '@/api/post';
import { mapState } from 'vuex';
import { getUserProfile } from '@/api/user';
import { modifyUser } from '@/api/user';
import { uploadImage } from '@/api/post';
import { getImage } from '@/api/user';
import { saveImage } from '@/api/user';
import Compressor from 'compressorjs';
export default {
  data() {
    return {
      user: {
        userId: null,
        userName: null,
        userAccount: null,
        description: null,
        avator: null,
        avator_file: null,
        ig: null,
        fb: null,
        tw: null,
        email: null
      },
      // authors: ["Ryan Yen", "Vue Master", "YOUR NAME"],
      // submitted: false,
    };
  },
  mounted() {
    this.$store.dispatch('setIsProcessing', true);
    (async()=>{
      await Promise.all([
        this.GetUserInfos(),
      ]);
    })(); 
    
    this.$store.dispatch('setIsProcessing', false);

  },
  computed: {
    // ...mapGetters 為 ES7 寫法
    ...mapState([
      'userId',
    ]),
  },
  methods: {
    async GetUserInfos(){
      this.UserId();
    },
    async UserId(){
      const baseURL = 'http://demo.ivanouo.one:1586/';

      const users = await getUserProfile(this.$store.getters.UserId);
      
      this.user.userId = users.data.user.userId;
      this.user.userName = users.data.user.userName;
      this.user.userAccount = users.data.user.userAccount;
      this.user.description = users.data.user.description;
      this.user.avator = baseURL + users.data.user.avator;
      this.user.ig = users.data.user.ig;
      this.user.fb = users.data.user.fb;
      this.user.tw = users.data.user.tw;
      this.user.email = users.data.user.email;
      console.log(this.user.userName);
      this.user.avator_file = users.data.user.avator;
    },
    
    async edit_profile() {
      console.log(this.user.userId);
      console.log(this.user.userName);
      console.log(this.user.description);
      console.log(this.user.avator_file);
      console.log(this.user.ig);
      console.log(this.user.fb);
      console.log(this.user.tw);
      console.log(this.user.email);
      var usermodify = await modifyUser({
        user_name: this.user.userName,
        description: this.user.description,
        avator: this.user.avator_file,
        ig: this.user.ig,
        fb: this.user.fb,
        tw: this.user.tw,
        email: this.user.email,
      });
      
      if (usermodify) {
          alert("Success change your personal profile! The page will turn into your personal home.");
          console.log("Successfully modify the info!");
          this.$router.push('/Personalhome');
        }
    },
    Imgselected(e) {
      var file = e.target.files[0];
      const file_2 = e.target.files[0];
      const reader = new FileReader();
      reader.addEventListener('load', this.imagePreview);
      reader.readAsDataURL(file_2);
      if (file.size > 100000) {
        alert("your picture is too large, we will compress it for you.\nRemember to click the \" upload \" button!");
        new Compressor( file, {
        quality: 0.8,
        maxHeight: 400,
        async success(result) {
          // console.log(result.size);
          saveImage(result);
        },
        error(err) {
          console.log(err.message);
        },
      });
      } else {
        saveImage(file);
        alert("Remember to click the \" upload \" button!");
      }
    },
    imagePreview(e) {
      let image = e.target.result;
      this.user.avator = image;
    },
    Imguploaded() {
      this.imageLoaded(getImage());
    },
    async imageLoaded(file) {
      let imagedata = await uploadImage(file);
      this.user.avator_file = imagedata.data.filepath;
      console.log(this.user.avator_file);
      if (imagedata.data.message == "success") {
        alert("Update Image Successfully!");
        console.log("Update Image Successfully!");
      } else {
        alert(imagedata.message);
      }
      console.log(imagedata);
    },
  },
};
</script>

<style>
.background { 
  position: fixed;
  background-position: left top;
  background-attachment: scroll;
  background-size: cover;
}
.container {
  position: relative;
  margin: 0px auto;
  top: auto;
  left: auto;
  align-items: center; 
}
.imgbox {
  width: 100%; 
  height: 400px; 
  background-color: rgba(161,199,226, 0.8);
}
#submit {
  width: 65px; 
  height: 30px; 
  position: absolute; 
  bottom: -30px;             
  left: 45%;   
  margin: auto;
}
#addfile {
  position: absolute; 
  top: 10%;             
  left: 42%;   
  margin: auto;  
}
#loadfile {
  position: absolute; 
  top: 20%;             
  left: 80%;   
  margin: auto;  
}
#upload_img {
  background-position: center center;
  width: auto; 
  height: 100%; 
}
#hashtag {
  width: 100%; 
  height: 40px; 
  background-color: rgba(161,199,226, 0.8);
  font-size: xx-large;
  color: rgb(0,4,0);
  text-align: center;
}
#titlebox {
  width: 100%; 
  height: 40px; 
  background-color: rgba(161,199,226, 0.8);
  font-size: xx-large;
  color: rgb(0,4,0);
  text-align: center;
}
#postbox {
  /* margin-top: 20px; */
  width: 100%; 
  height: 200px; 
  background-color: rgba(161,199,226, 0.8);
  font-size: large;
  color: rgb(10,30,10);
  text-align: left;
  overflow: auto;
  resize:none;
}
</style>
