<template>
<div>
  <div class="background">
    <img src="../../assets/login-river2.png">
  </div>
  <div class="form">
    <ul class="tab-group">
      <li class="tab active"><a href="#login">Login</a></li>
      <li class="tab"><a href="#signup">Signup</a></li>
    </ul>
    <div class="tab-content">
      <div id="login">   
        <h1>Welcome Back</h1>
        <div>
            <div class="field-wrap">
            <label >
                Email Address<span class="req">*</span>
            </label>
            <input id="emailSI" 
              type="email" 
              v-model="LoginInfo.email" 
              required autocomplete="off"
              v-on:keyup.enter="userLogin()"
            />
            </div>
            <div class="field-wrap">
            <label>
                Password<span class="req">*</span>
            </label>
            <input id="passwordSI" 
              type="password"
              v-model="LoginInfo.password" 
              required autocomplete="off"
              v-on:keyup.enter="userLogin()"
            />
            </div>
            <button id="btnLogin" v-on:click="userLogin" class="button button-block">LogIn</button>
        </div>
      </div>
      <div id="signup">   
        <h1>Get Started</h1>
        <div>
            <div class="field-wrap">
                <label>
                    Username************<span class="req">*</span>
                </label>
                <input v-model="SignupInfo.name" id="usernameSU" type="text" v-on:keyup.enter="userSignUp()" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
                <label>
                    Email Address<span class="req">*</span>
                </label>
                <input v-model="SignupInfo.email" id="emailSU" type="email" v-on:keyup.enter="userSignUp()" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
                <label>
                    Password<span class="req">*</span>
                </label>
                <input v-model="SignupInfo.password" id="passwordSU" v-on:keyup.enter="userSignUp()" type="password" required autocomplete="off"/>
            </div>
            <button id="btnSignUp" v-on:click="userSignUp" class="button button-block">SignUp</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import $ from 'jquery'
import { mapGetters, mapActions } from 'vuex'
import { addUser } from '@/api/user';

export default {
  data() {
    return {
      LoginInfo: {
        email: "",
        password: "",
      },
      SignupInfo: {
        name:"",
        email: "",
        password: "",
      },
      error: {
        email: false,
        password: false,
        message: '',
      }
    };
  },
  mounted(){
    /*up-and-down word*/
    $('.form').find('input, textarea').on('keyup blur focus', function (e) {
        var $this = $(this),
        label = $this.prev('label');
        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } 
            else {
                label.addClass('active highlight');
            }
        } 
        else if (e.type === 'blur') {
            if( $this.val() === '' ) {
                label.removeClass('active highlight'); 
            } 
            else {
                label.removeClass('highlight');   
            }   
        } 
        else if (e.type === 'focus') {
            if( $this.val() === '' ) {
                label.removeClass('highlight'); 
                } 
            else if( $this.val() !== '' ) {
                label.addClass('highlight');
            }
        }
    });
    /*Switch box of login*/
    $('.tab a').on('click', function (e) {
        e.preventDefault();
        $(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');
        var target = $(this).attr('href');
        $('.tab-content > div').not(target).hide();
        $(target).fadeIn(600);
    });
  },
  computed: {
    // ...mapGetters 為 ES7 寫法
    ...mapGetters({
      count: 'getCount',
    }),
  },
  methods: {
    ...mapActions([
      "actionIncrease", 
      "actionDecrease"
    ]),
    async userLogin() {
      if(this.LoginInfo.email == "" || this.LoginInfo.password == "") {
        alert("Please fill up your login information.");
        return;
      }

      if(!this.checkEmail(this.LoginInfo.email)) {
        alert("Your email format is wrong, Please check it again.");
        return;
      }
      
      const { email, password } = this.LoginInfo;
      // 0. Set full page loading
      this.$store.dispatch('setIsProcessing', true);
      try {
        // 1. Reset error
        this.error = { _id: false, password: false, message: '' };
        const response = await this.$store.dispatch('login', { email, password });
        // 4. Redirect
        if(response.status != 200){
          throw Error(response);
        }
        else{
          alert("Login Successfully. The page will turn into your personal home.");
          this.$router.push('/Personalhome');
        }
      } catch (error) {
        switch (error.code) {
          case 5:
            alert('User not found. Please check it again.');
            break;
          case 7:
            alert('Wrong password. Please check it again.');
            break;
          default:
            // Unknown error
            alert("unknown error");
            //this.$message({ type: 'error', message: error.message || error.error, duration: 1000 });
        }
      }
      // 5. Clear full page loading
      this.$store.dispatch('setIsProcessing', false);
    },
    async userSignUp() {
      if(this.SignupInfo.name == "" || this.SignupInfo.email == "" || this.SignupInfo.password == "") {
        alert("Please fill up your signup information.");
        return;
      }

      if(!this.checkEmail(this.SignupInfo.email)) {
        alert("Your email format is wrong, Please check it again.");
        return;
      }

      //alert("Pass signup validation");
      const { name, email, password } = this.SignupInfo;
      this.$store.dispatch('setIsProcessing', true);
      
      try {
        const response = await addUser({user_name: name, user_account: email, user_password: password});
        if(response.status != 200){
          throw Error(response)
        }
        else{
          alert("Your signup procedure is succeed. Now you can login to our blog.");
          this.$router.go(0);
        }

      } catch (error) {
        switch(error.code){
          case 6:
            alert("User email has already been used. Please use another email.");
            break;
          default:
            break;
        }
      }
      // 5. Clear full page loading
      this.$store.dispatch('setIsProcessing', false);
    },
    checkEmail(email){
      const validate = /^\w+((-\w+)|(\.\w+))*@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/
      return validate.test(email)
    },
  },
};
</script>

<style scoped>

body {
  background:#faf5e4;
  font-family: "Poppins", sans-serif;
}

.background{
  /*position: fixed;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;
}

.background img {
    min-height: 100%;
    width: 100%;
    opacity: 0.5;
}

a {
  text-decoration:none;
  color:#1ab188;
  transition:.5s ease;
  
}
a:hover {
    color:darken(#1ab188,5%);
}

.form {
  position: fixed, center;
  background-color:#797D62;
  opacity: 1;
  padding: 30px;
  max-width:600px;
  margin:40px auto;
  border-radius:4px;
  box-shadow:0 0 5px 5px #797D62;
  font-weight: 800;
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  font-weight:600;
}

.tab-group li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba(#a0b3b0,.25);
    color:#a0b3b0;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
  }
.tab-group  li a:hover {
    background:#94a856;
    color:#FFFFFF;
}
.tab-group .active a {
    background:#CBDC96;
    color:#FFFFFF;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:#FFFFFF;
  font-weight:800;
  margin:0 0 40px;
  font-family: "Poppins", sans-serif;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba(255, 255, 255, 0.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  font-family: "Poppins", sans-serif;
  font-weight:600;
}
label .req {
  margin:2px;
  color:#CBDC96;
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}
label.active .req {
  opacity:0;
}

label.highlight {
	color:#FFFFFF;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:2px solid #a0b3b0;
  color:#FFFFFF;
  border-radius:5px;
  transition:border-color .25s ease, box-shadow .25s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
input, textarea:focus {
    outline:0;
    border-color:#CBDC96;
}

textarea {
  border:2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
  height: 40px;
}

.button {
  border:0;
  outline:none;
  border-radius:5px;
  padding:10px 0;
  font-size:2rem;
  font-weight:800;
  letter-spacing:.1em;
  background:#CBDC96;
  color:#FFFFFF;
  transition:all.5s ease;
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif;
}
.button:hover, .button:focus {
    background:#94a856;
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

#custom-alert {
    text-align: center;
}
</style>
