<template>
<div>
  <!--
  <div class="video">
    <video src="../../assets/river.mp4" autoplay loop muted></video>
  </div>
  -->
  <div class="background">
    <img src="../../assets/login-river.png">
  </div>
  <div class="form">
      <div id="login">   
        <h1>Are you going to Logout?</h1>
        <button id="btnLogout" v-on:click="userLogout" class="button button-block">Logout</button>
      </div>
  </div>
</div>
</template>

<script>
//import $ from 'jquery'

export default {
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
      error: {
        email: false,
        password: false,
        message: '',
      }
    };
  },
  mounted(){
    
  },
  computed: {
  },
  methods: {
    userLogout() {
      //alert("user logout");
      this.$store.dispatch('logout');
      this.$router.push('/');
    }
  },
};
</script>

<style scoped>


*, *:before, *:after {
  box-sizing: border-box;
}
html {
	overflow-y: scroll; 
}

body {
  background:#faf5e4;
  font-family: "Poppins", sans-serif;
}

.hero-slide .video {
  height: 100vh;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  text-decoration:none;
  color:#1ab188;
  transition:.5s ease;
  
}
a:hover {
    color:darken(#1ab188,5%);
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;
}

.background img {
    min-height: 100%;
    width: 100%;
    opacity: 0.5;
}


video {
  position: absolute;
  z-index: -1;
}

.form {
  position: fixed, center;
  background-color:#797D62;
  opacity: 1;
  padding: 30px;
  max-width:600px;
  margin:40px auto;
  border-radius:4px;
  /*box-shadow:0 4px 10px 4px rgba(#24333C,.3);*/
  box-shadow:0 0 5px 5px #797D62;
  font-weight: 600;
}

h1 {
  text-align:center;
  color:#FFFFFF;
  font-weight:300;
  margin:0 0 40px;
}

.button {
  border:0;
  outline:none;
  border-radius:5px;
  padding:10px 0;
  font-size:2rem;
  font-weight:600;
  letter-spacing:.1em;
  background:#CBDC96;
  color:#FFFFFF;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
    background:#94a856;
}

.button-block {
  display:block;
  width:100%;
}

#custom-alert {
    text-align: center;
}
</style>
